@import "tailwindcss";

@theme {
  --color-dark: #0f172a;
  --color-darker: #1e293b;
  --color-accent: #facc15;
  --color-secondary: #2dd4bf;
}

body {
  background-color: var(--color-dark);
  color: white;
}